    body {
        margin: 20px;
        font-family: 'Open Sans', sans-serif;
        text-align: center;
    }
    
    header {
        text-align: center;
        color: white;
        background-color: rgba(0, 0, 0, 0.484);
        background-image: url("./header_img.jpg");
        background-size: 100% auto;
        background-blend-mode: multiply;
        margin: 0px;
        padding: 8px;
        position: fixed;
        width: 100%;
        z-index: 10;
        top: 20px;
    }

    
    #fonts {
        margin: 20px 130px; 
        text-align: left;
        padding: 20px 40px;
        border: 2px solid black;
    }

    #colors {
        margin: 20px 130px;     
        margin-top: 200px;
        text-align: center;
        padding: 20px;
        border: 2px solid black;
    }   

    .color {
        display: inline-block;
        width: 160px;
        height: 40px;
        margin: 10px;
        padding-top: 150px;
        font-weight: 600;
        color: black;
        filter: drop-shadow(2px 2px 2px black);
    }

    #c1 {
        background-color: #30343F;
        color: white;
    }
    #c2 {
        background-color: #fafaff;
        color: black;
    }
    #c3 {
        background-color: #e4d9ff;
        color: black;
    }
    #c4 {
        background-color: #273469;
        color: white;
    }
    #c5 {
        background-color: #1e2749;
        color: white;   
    }

    a {
        color: black;
    }

    a:hover {
        text-decoration: none;
    }